/* Adaptive - Default */
.container {
    width: 994px;
    margin: 0 auto;
    position: relative;
}

/* Responsive */
.responsive .container {
    width: 100%;
}

/* Columns */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
    height: 100%;
    width:100%;
}

/* Two Column */
.cols-2 > .col-1, .cols-2.keep > .col-1 { width: 50%; }

/* Three Column */
.cols-3 > .col-1, .cols-3.keep > .col-1 { width: 33.333%; }
.cols-3 > .col-2, .cols-3.keep > .col-2 { width: 66.667%; }

/* Four Column */
.cols-4 > .col-1, .cols-4.keep > .col-1 { width: 25%; }
.cols-4 > .col-2, .cols-4.keep > .col-2 { width: 50%; }
.cols-4 > .col-3, .cols-4.keep > .col-3 { width: 75%; }

/* Five Column */
.cols-5 > .col-1, .cols-5.keep > .col-1 { width: 20%; }
.cols-5 > .col-2, .cols-5.keep > .col-2 { width: 40%; }
.cols-5 > .col-3, .cols-5.keep > .col-3 { width: 60%; }
.cols-5 > .col-4, .cols-5.keep > .col-4 { width: 80%; }

/* Six Column */
.cols-6 > .col-1, .cols-6.keep > .col-1 { width: 16.667%; }
.cols-6 > .col-2, .cols-6.keep > .col-2 { width: 33.334%; }
.cols-6 > .col-3, .cols-6.keep > .col-3 { width: 50.001%; }
.cols-6 > .col-4, .cols-6.keep > .col-4 { width: 66.668%; }
.cols-6 > .col-5, .cols-6.keep > .col-5 { width: 83.335%; }

/* Seven Column */
.cols-7 > .col-1, .cols-7.keep > .col-1 { width: 14.286%; }
.cols-7 > .col-2, .cols-7.keep > .col-2 { width: 28.572%; }
.cols-7 > .col-3, .cols-7.keep > .col-3 { width: 42.858%; }
.cols-7 > .col-4, .cols-7.keep > .col-4 { width: 57.144%; }
.cols-7 > .col-5, .cols-7.keep > .col-5 { width: 71.43%; }
.cols-7 > .col-6, .cols-7.keep > .col-6 { width: 85.716%; }

/* Eight Column */
.cols-8 > .col-1, .cols-8.keep > .col-1 { width: 12.5%; }
.cols-8 > .col-2, .cols-8.keep > .col-2 { width: 25%; }
.cols-8 > .col-3, .cols-8.keep > .col-3 { width: 37.5%; }
.cols-8 > .col-4, .cols-8.keep > .col-4 { width: 50%; }
.cols-8 > .col-5, .cols-8.keep > .col-5 { width: 62.5%; }
.cols-8 > .col-6, .cols-8.keep > .col-6 { width: 75%; }
.cols-8 > .col-7, .cols-8.keep > .col-7 { width: 87.5%; }

/* Nine Column */
.cols-9 > .col-1, .cols-9.keep > .col-1 { width: 11.111%; }
.cols-9 > .col-2, .cols-9.keep > .col-2 { width: 22.222%; }
.cols-9 > .col-3, .cols-9.keep > .col-3 { width: 33.333%; }
.cols-9 > .col-4, .cols-9.keep > .col-4 { width: 44.444%; }
.cols-9 > .col-5, .cols-9.keep > .col-5 { width: 55.555%; }
.cols-9 > .col-6, .cols-9.keep > .col-6 { width: 66.666%; }
.cols-9 > .col-7, .cols-9.keep > .col-7 { width: 77.777%; }
.cols-9 > .col-8, .cols-9.keep > .col-8 { width: 88.888%; }

/* Ten Column */
.cols-10 > .col-1, .cols-10.keep > .col-1 { width: 10%; }
.cols-10 > .col-2, .cols-10.keep > .col-2 { width: 20%; }
.cols-10 > .col-3, .cols-10.keep > .col-3 { width: 30%; }
.cols-10 > .col-4, .cols-10.keep > .col-4 { width: 40%; }
.cols-10 > .col-5, .cols-10.keep > .col-5 { width: 50%; }
.cols-10 > .col-6, .cols-10.keep > .col-6 { width: 60%; }
.cols-10 > .col-7, .cols-10.keep > .col-7 { width: 70%; }
.cols-10 > .col-8, .cols-10.keep > .col-8 { width: 80%; }
.cols-10 > .col-9, .cols-10.keep > .col-9 { width: 90%; }

/* Eleven Column */
.cols-11 > .col-1, .cols-11.keep > .col-1 { width: 9.090%; }
.cols-11 > .col-2, .cols-11.keep > .col-2 { width: 18.18%; }
.cols-11 > .col-3, .cols-11.keep > .col-3 { width: 27.27%; }
.cols-11 > .col-4, .cols-11.keep > .col-4 { width: 36.36%; }
.cols-11 > .col-5, .cols-11.keep > .col-5 { width: 45.45%; }
.cols-11 > .col-6, .cols-11.keep > .col-6 { width: 54.54%; }
.cols-11 > .col-7, .cols-11.keep > .col-7 { width: 63.63%; }
.cols-11 > .col-8, .cols-11.keep > .col-8 { width: 72.72%; }
.cols-11 > .col-9, .cols-11.keep > .col-9 { width: 81.81%; }
.cols-11 > .col-10, .cols-11.keep > .col-10 { width: 90.9%; }

/* Twelve Column */
.cols-12 > .col-1, .cols-12.keep > .col-1 { width: 8.333%; }
.cols-12 > .col-2, .cols-12.keep > .col-2 { width: 16.666%; }
.cols-12 > .col-3, .cols-12.keep > .col-3 { width: 24.999%; }
.cols-12 > .col-4, .cols-12.keep > .col-4 { width: 33.332%; }
.cols-12 > .col-5, .cols-12.keep > .col-5 { width: 41.665%; }
.cols-12 > .col-6, .cols-12.keep > .col-6 { width: 49.998%; }
.cols-12 > .col-7, .cols-12.keep > .col-7 { width: 58.331%; }
.cols-12 > .col-8, .cols-12.keep > .col-8 { width: 66.664%; }
.cols-12 > .col-9, .cols-12.keep > .col-9 { width: 74.997%; }
.cols-12 > .col-10, .cols-12.keep > .col-10 { width: 83.33%; }
.cols-12 > .col-11 , .cols-12.keep > .col-11 { width: 91.663%; }

/* column clear fixes */
.cols-1:before, .cols-1:after,
.cols-2:before, .cols-2:after,
.cols-3:before, .cols-3:after,
.cols-4:before, .cols-4:after,
.cols-5:before, .cols-5:after,
.cols-6:before, .cols-6:after,
.cols-7:before, .cols-7:after,
.cols-8:before, .cols-8:after,
.cols-9:before, .cols-9:after,
.cols-10:before, .cols-10:after,
.cols-11:before, .cols-11:after,
.cols-12:before, .cols-12:after,
.clear:before, .clear:after {content:""; display:table;} 

.cols-1:after,
.cols-2:after,
.cols-3:after,
.cols-4:after,
.cols-5:after,
.cols-6:after,
.cols-7:after,
.cols-8:after,
.cols-9:after,
.cols-10:after,
.cols-11:after,
.cols-12:after,
.clear:after {clear:both;}

.cols-1, .cols-2, .cols-3, .cols-4, .cols-5, .cols-6, .cols-7, .cols-8, .cols-9, .cols-10, .cols-11, .cols-12, .clear {
    zoom:1;
}

/* Make them not overflow padding */
.container, .cols-1 > *, .cols-2 > *, .cols-3 > *, .cols-4 > *, .cols-5 > *, .cols-6 > *, .cols-7 > *, .cols-8 > *, .cols-9 > *, .cols-10 > *, .cols-11 > *, .cols-12 > * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}

/* Move Classes */
/* ShiftRight 2 */

/* --------------------
    Other grid rules
-------------------- */
.full { width: 100%; }
.half { width: 50%; }
.third { width: 33.333%; }
.quater { width: 25%; }

/* --------------------
    Helpers
-------------------- */
.center { margin: 0 auto; }
.hide,
.desktop-only,
.tablet-only,
.mobile-only { 
    display:none !important; 
}
.show { display: block !important; }

/* --------------------
    Desktop
-------------------- */
@media only screen and (min-width: 768px) {  

    .desktop-only { display:inherit !important; }

}

/* --------------------
    Tablet - Portrait
-------------------- */
@media only screen and (min-width: 480px) and (max-width: 767px) {  
    
    .container { width: 480px; }
    .tablet-only { display:inherit !important; }
    
    .responsive .containter { width: 100%; }
    
    /* Reset Columns to be either 50% or 100% half */
    
}

/* --------------------
    Mobile - Portrait
-------------------- */
@media only screen and (max-width: 480px) {

    .container { width: 300px; }
    
    .mobile-only { display:inherit !important; }

    /* Nitty Griddy Mobile Resets */
    .container,
    .container .col-1,
    .container .col-2,
    .container .col-3,
    .container .col-4,
    .container .col-5,
    .container .col-6,
    .container .col-7,
    .container .col-8,
    .container .col-9,
    .container .col-10,
    .container .col-11,
    .container .col-12 {
        width: 100%;
    }

}
